[submodule "freenet-daemon/fred"]
	path = freenet-daemon/fred
	url = git://github.com/freenet/fred.git
[submodule "freenet-daemon/contrib"]
	path = freenet-daemon/contrib
	url = git://github.com/freenet/contrib.git
