#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk

include /usr/share/javahelper/java-vars.mk
include /usr/share/cdbs/1/class/javahelper.mk
# not much help atm, since we need to use ant twice in the same package
#include /usr/share/cdbs/1/class/ant.mk

PACKAGE              := $(DEB_SOURCE_PACKAGE)
VERSION              := $(DEB_UPSTREAM_VERSION)
JAVA_HOME            := /usr/lib/jvm/default-java
WRAPPER_INIT         := /usr/share/wrapper/make-wrapper-init.sh

build/freenet-daemon::
	# wrapper service sh
	cd $(CURDIR)/contrib/freenet-ext/ && \
	  ant -Dextlib.wrapper.suppress=false -propertyfile $(CURDIR)/debian/contrib.override.properties prepare-libsrc
	cd $(CURDIR)/contrib/wrapper/ && \
	  $(WRAPPER_INIT) -q < $(CURDIR)/debian/freenet-daemon.service.params > init.d
	cd $(CURDIR)/contrib/wrapper/ && \
	  $(CURDIR)/debian/customise-wrapper-sh.sh $(CURDIR)/debian/freenet-daemon.service.params $(CURDIR)/debian/freenet-daemon.service.preinit
	# jar packages
	cd $(CURDIR)/contrib/freenet-ext/ && \
	  ant -propertyfile $(CURDIR)/debian/contrib.override.properties package
	cd $(CURDIR)/fred/ && \
	  ant -propertyfile $(CURDIR)/debian/freenet.override.properties -f build.xml package -Dtest.skip=true

install/freenet-daemon::
	# wrapper service sh
	install -m 755 $(CURDIR)/contrib/wrapper/init.d \
	  $(CURDIR)/debian/freenet-daemon.init
	# jar packages
	install -m 644 -t $(CURDIR)/debian/freenet-daemon/usr/share/java/freenet \
	  $(CURDIR)/contrib/freenet-ext/dist/*.jar
	install -m 644 -t $(CURDIR)/debian/freenet-daemon/usr/share/java \
	  $(CURDIR)/fred/dist/freenet.jar
	#install -m 644 -t $(CURDIR)/debian/freenet-daemon/usr/lib/java/freenet \
	#  $(CURDIR)/contrib/freenet-ext/dist/freenet-ext_native.jar

clean::
	# jar packages
	cd $(CURDIR)/fred/ && ant -f build-clean.xml clean-all
	cd $(CURDIR)/contrib/freenet-ext/ && ant clean-all
	# wrapper service sh
	rm -f $(CURDIR)/debian/freenet-daemon.init
	# rm -rf $(CURDIR)/contrib/freenet-ext/lib/ && mkdir $(CURDIR)/contrib/freenet-ext/lib/
