#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk

include /usr/share/javahelper/java-vars.mk
include /usr/share/cdbs/1/class/javahelper.mk
# not much help atm, since we need to use ant twice in the same package
#include /usr/share/cdbs/1/class/ant.mk

PACKAGE              := $(DEB_SOURCE_PACKAGE)
VERSION              := $(DEB_UPSTREAM_VERSION)
JAVA_HOME            := /usr/lib/jvm/default-java

build/freenet-daemon::
	cd $(CURDIR)/contrib-@RELEASE@/freenet-ext/ && ant -propertyfile $(CURDIR)/debian/contrib.override.properties -Dgit.revision=@EXTREVISION@ package
	cd $(CURDIR)/fred-@RELEASE@/ && ant -f build-clean.xml -Dcontrib.dir=../contrib-@RELEASE@/freenet-ext -Dgit.revision=@REVISION@ package

install/freenet-daemon::
	install -m 644 -t $(CURDIR)/debian/freenet-daemon/usr/share/java \
	  $(CURDIR)/fred-@RELEASE@/dist/freenet.jar
	install -m 644 -t $(CURDIR)/debian/freenet-daemon/usr/share/java/freenet \
	  $(CURDIR)/contrib-@RELEASE@/freenet-ext/dist/*.jar
	#install -m 644 -t $(CURDIR)/debian/freenet-daemon/usr/lib/java/freenet \
	#  $(CURDIR)/contrib-@RELEASE@/freenet-ext/dist/freenet-ext_native.jar

clean::
	cd $(CURDIR)/fred-@RELEASE@/ && ant -f build-clean.xml clean-all
	cd $(CURDIR)/contrib-@RELEASE@/freenet-ext/ && ant clean-all
	# rm -rf $(CURDIR)/contrib-@RELEASE@/freenet-ext/lib/ && mkdir $(CURDIR)/contrib-@RELEASE@/freenet-ext/lib/
